@import "../../../styles/scss/variables";
@import "../../../styles/scss/mixins";

.content {
  @include margin-auto();
  // max-width: $layout-post-single-width;
  // @include padding(0, 0.5);
  padding-top: 48px;
  .image {
    width: 100%;
    :global(.gatsby-image-wrapper) {
    }
  }
  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #2d3748;
    margin: 0;
    padding-top: 42px;
  }

  .body {
    border-top: 1px solid #e8e7e7;
    @include margin-top-default(4);
    figure {
      @include margin-bottom(1);

      blockquote {
        font-style: italic;
        text-align: center;
        @include margin-top(0);
        @include padding(1, 0);

        p {
          @include margin-top(0);
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }

    a {
      text-decoration: underline;
    }

    * {
      margin-left: auto;
      margin-right: auto;
      // max-width: $layout-post-width;
    }

    h2 > a {
      visibility: hidden;
    }

    img {
      max-width: 100%;
    }
    p {
      font-size: 20px;
    }
    h2 {
      font-size: 27px;
    }
  }
}

@include breakpoint-md {
  .content {
    // @include padding-equal(0);

    // .title {
    //   font-size: $typographic-base-font-size * 3;
    //   @include line-height(2.25);
    //   @include margin-top(2.25);
    //   @include margin-bottom(1.5);
    // }

    // .body {
    //   font-size: $typographic-base-font-size * 1.125;
    //   @include line-height(1.125);
    //   @include margin-bottom(1.125);

    //   p {
    //     font-size: $typographic-base-font-size * 1.125;
    //     @include line-height(1.125);
    //     @include margin-bottom(1.125);
    //   }

    //   h2 > a {
    //     visibility: unset;
    //     @include padding-right(1);
    //   }
    // }
  }
}
