.footer {
    width: 100%;
    background-color: #212121;
    padding: 80px 0;

    @media screen and (max-width: 768px) {
        padding: 58px 0;
    }
    .footerLogo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .footerIcon {
        padding-bottom: 40px;
    }
    .worksheetIconContainer {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            align-items: center;
        }

        .footerWorksheetIcon {
            height: 40px;
            width: 178px;
        }

        .footer_under_logo {
            margin-top: 50px;
            height: 24px;
            width: 121px;
        }
    }

    .footerSubscribeContainer {
        display: flex;
        .mailIconContainer {
            // display: flex;
            // flex-direction: column;

            .mailIcon {
                height: 56px;
                width: 56px;
            }

            .footerSubscribeIcon {
                margin-top: 12px;
                height: 38px;
                max-width: 181px;
                object-fit: cover;
            }

            .subscribeText {
                padding-top: 26px;
                width: 308px;
                color: #ffffff;
                .subscribeTextTitle {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    letter-spacing: 0.1em;
                    margin: 0;
                }

                .subscribeTextContent {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    margin-top: 6px;
                }
            }

            .sendEmailContainer {
                display: flex;
                align-items: center;
                margin-top: 16px;
                .footerSendButton {
                    margin: 0px 24px;
                    background: #ffffff;
                    border-radius: 8px;
                    padding: 11px 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;
                    /* identical to box height */

                    color: #666444;
                }

                .footerSentEmailTextField {
                    width: 100%;
                    color: red;
                    border-color: red;
                }
            }
        }
        .socialContainer {
            display: flex;
            gap: 24px;
            .socialIcon {
                height: 24px;
                width: 24px;
                margin: 0 12px;
            }
        }
    }

    .socialContainerMobile {
        display: flex;
        gap: 24px;
        .socialIconMobile {
            height: 24px;
            width: 24px;
            margin: 0 12px;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-top: 0;
        color: rgba(255, 255, 255, 0.52);
        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    a {
        display: block;
        margin-bottom: 20px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-decoration: none;
    }

    .logo {
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}
