.scroll_btn{
    position: fixed;
    z-index: 1;
    cursor: pointer;
    bottom: 92px;
    right: 166px;

    @media screen and (max-width: 1024px){
        bottom: 40px;
        right: 50px;
    }
}